/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
b, strong, th { font-weight: bold; }
em, i { font-style: italic; }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


a, a:active, a:visited { color: #33abff; outline:0; text-decoration:none;}
a:hover { color: #82bac6; }

/********************
 *
 * end of reset 
 *
 *********************/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.background {
	background-color: #f8f8f8;
	width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.company-name {
	font-size: 3.2em;
	font-size: 7.5vh;
	text-align: center;
	font-family: 'Goudy Bookletter 1911', serif;
	padding-bottom: 16px;
	margin-bottom: 20px;
	border-bottom: black solid 2px;
}

.contact, .subtitle {
	font-size: 1.3em;
	font-size: 3.05vh;
	text-align: center;
	letter-spacing: 0.025em;
	margin-bottom: 54px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
    margin: 10px;
    font-size: .8em;
    color: #aaa;
}